/Slides
/TCGA-05-4249-01Z-00-DX1.9fce0297-cc19-4c04-872c-4466ee4024db.svs_mpp-0.5_crop47-90_files
/TCGA-05-4249-01Z-00-DX1.9fce0297-cc19-4c04-872c-4466ee4024db.svs_mpp-0.5_crop47-90_files-tile_path-filters_cleanup.csv
/TCGA-05-4249-01Z-00-DX1.9fce0297-cc19-4c04-872c-4466ee4024db.svs_mpp-0.5_crop47-90_files-tile_path.csv
/slides_mpp_otsu.csv
/tests.py
/tiles.csv
/tiles_filters.csv
FactorLoadings/test_batch_3/Patches/fl_patch_0
FactorLoadings/test_batch_3/Patches/fl_patch_1
FactorLoadings/test_batch_3/Patches/fl_patch_2
FactorLoadings/test_batch_3/Patches/fl_patch_3
FactorLoadings/test_batch_3/RNA/rna_fl_patch_0
FactorLoadings/test_batch_3/RNA/rna_fl_patch_1
FactorLoadings/test_batch_3/RNA/rna_fl_patch_2
FactorLoadings/test_batch_3/RNA/rna_fl_patch_3
FactorLoadings/test_batch_3/Correlations/correlation_values_patches
FactorLoadings/test_batch_3/FlattenedImageVectorsPerPatch/flattened_vectors
FactorLoadings/test_batch_3/Patches/fl_patch_4
FactorLoadings/test_batch_3/Patches/fl_patch_5
FactorLoadings/test_batch_3/Patches/fl_patch_6
FactorLoadings/test_batch_3/Patches/fl_patch_7
FactorLoadings/test_batch_3/Patches/fl_patch_8
FactorLoadings/test_batch_3/Patches/fl_patch_9
FactorLoadings/test_batch_3/Patches/fl_patch_10
FactorLoadings/test_batch_3/Patches/fl_patch_11
FactorLoadings/test_batch_3/Patches/fl_patch_12
FactorLoadings/test_batch_3/Patches/fl_patch_13
FactorLoadings/test_batch_3/Patches/fl_patch_14
FactorLoadings/test_batch_3/Patches/fl_patch_15
FactorLoadings/test_batch_3/Patches/fl_patch_16
FactorLoadings/test_batch_3/Patches/fl_patch_17
FactorLoadings/test_batch_3/Patches/fl_patch_18
FactorLoadings/test_batch_3/Patches/fl_patch_19
FactorLoadings/test_batch_3/Patches/fl_patch_20
FactorLoadings/test_batch_3/Patches/fl_patch_21
FactorLoadings/test_batch_3/Patches/fl_patch_22
FactorLoadings/test_batch_3/Patches/fl_patch_23
FactorLoadings/test_batch_3/Patches/fl_patch_24
FactorLoadings/test_batch_3/Patches/fl_patch_25
FactorLoadings/test_batch_3/Patches/fl_patch_26
FactorLoadings/test_batch_3/Patches/fl_patch_27
FactorLoadings/test_batch_3/Patches/fl_patch_28
FactorLoadings/test_batch_3/Patches/fl_patch_29
FactorLoadings/test_batch_3/Patches/fl_patch_30
FactorLoadings/test_batch_3/Patches/fl_patch_31
FactorLoadings/test_batch_3/Patches/fl_patch_32
FactorLoadings/test_batch_3/Patches/fl_patch_33
FactorLoadings/test_batch_3/Patches/fl_patch_34
FactorLoadings/test_batch_3/Patches/fl_patch_35
FactorLoadings/test_batch_3/Patches/fl_patch_36
FactorLoadings/test_batch_3/Patches/fl_patch_37
FactorLoadings/test_batch_3/Patches/fl_patch_38
FactorLoadings/test_batch_3/Patches/fl_patch_39
FactorLoadings/test_batch_3/Patches/fl_patch_40
FactorLoadings/test_batch_3/Patches/fl_patch_41
FactorLoadings/test_batch_3/Patches/fl_patch_42
FactorLoadings/test_batch_3/Patches/fl_patch_43
FactorLoadings/test_batch_3/Patches/fl_patch_44
FactorLoadings/test_batch_3/RNA/rna_fl_patch_44
